/*  4 columns setup  */
.grid div {
	float:left;
	margin: 1% 0 1% 1.6%;
	padding: 20px 0px;
	border: none;
	width: 23.8%; /* .span 1 of 4 columns */
	/*
	width: 23.8%; .span_1_of_4 
	width: 49.2%; .span_2_of_4 
	width: 74.6%; .span_3_of_4
	width:100.0%; .span_4_of_4
	*/
}
div:nth-child(4n+1) { margin-left: 0; }

/* Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
} */

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	div {  margin: 1% 0 1% 0%;  width: 100%; }
}

